/* 컨텐츠 최대 크기 지정 width 1760px*/
.mainTopBannerArea > a > div, header.mainHeader .menuArea, .videoArea , footer.mainFooter 
{width: calc(100% - 80px); max-width: 1760px; margin: 0 auto;}
/* 컨텐츠 크기 지정 width 1200px*/
/* 메인 */
header .menuArea, .technologyArea, .wiseChoiceArea,.reviewArea .reviewContentsArea, .selfBeautyArea ul, 
/* 네이게이션 타이틀 */
.navigationArea,
/* 회원가입 */
.singUpArea,
/* 로그인 */
.loginArea,
/* 장바구니 */
/* .paymentProgressArea, */
/* .orderListTitleArea, */
/* .orderListArea, */
.shoppingBasketArea,
/* 주문완료 */
.orderCompletedArea,
/* 이용약관 , */
.termsArea,
/* 소식 - 뉴스 메거진 */
.subHeader h2, .newsArea,
/* 공지사항 - 게시판 , 내용*/
.newsNoticeArea, .newsNoticeContentsArea,
/* 소개 공통 */
.introduceArea section:first-of-type,.introduceBannerArea > div,.introduceArea .indroduceFigureArea,.characteristicArea,
.productCompositionArea,
/* 소개 - 회사소개 */
.aboutTriaBeautyArea,.medicalEquipmentArea,.introduceHistoryArea > div,
/* 소개 - 코스메틱 */
.calmingFormulaArea,.plantRecipeArea,.necessaryMomentArea,
/* 소개 - 여드름치료 */
.acneCureArea .ourSkinlaArea,.acneCureArea .portabilityArea,
.acneCureArea .acneCureBanner02 > figure,.acneCureArea .recommendationArea,/*.acneCureArea .characteristicArea,*/.penetrationArea,
/*.acneCureArea .procedureArea*/.procedureArea,.acneCureArea .productCompositionArea, 
/* 소개 - 레이저제모 , 피부개선 공통 */
.introduceArea > ul,
/* 소개 - 레이저제모 */
.heatEnergyArea02,.laserArea .laserRecommendationArea,
/* 소개 - 피부개선 */
.SkinArea .skinRecommendationArea ,
/* 고객센터 */
.serviceCenterArea,
/* 공통 */
.QnAArea,
 footer
{width: calc(100% - 80px); max-width: 1200px; margin: 0 auto;}

@media screen and (min-width: 801px){
    .introduceFigureArea{width: calc(100% - 80px); max-width: 1200px; margin: 0 auto;}
}

.MobileImg{display: none !important;}

/* .technologyArea, .wiseChoiceArea,.reviewArea .reviewContentsArea, .selfBeautyArea ul
{padding-top: 140px;} */
.technologyArea{padding-top: 140px;}

/* 네이베이션 */
.navigationArea{display: block; font-size: 14px; font-weight: 300; color: #919191; text-align: right; margin: 30px auto 58px auto;}

/* btn */
.basicBtn{display: block; width: 230px; margin: 0 auto; font-size: 18px; font-weight: 500; line-height: 60px; text-align: center; color: white; background-color: black; border: none; border-radius: 50px; cursor: pointer; outline: none;}

/* 메인관련 */
/* header */
header{position: relative; border-bottom: 1px solid #d9d9d9;}
header .menuArea {display: flex;}
header .menuArea .mobileMenuArea{display: none;}
header .menuArea > .menuContentsArea { display: flex; flex: 1; justify-content: space-between; }
header .menuArea > .menuContentsArea > *:not(nav){padding: 40px 0;}
header .menuArea h1{height: 130px; display: flex; align-items: center; margin-right: 50px;}
header .menuArea > .menuContentsArea >nav{}
header .menuArea > .menuContentsArea >nav:hover + .menuBgArea{height: 245px;}
header .menuArea > .menuContentsArea >.menuBgArea{position: absolute; left: 0; top: 131px; width: 100%; height: 0; padding: 0; background-color: white; transition-duration: 0.5s; z-index: 10;}
header.mainHeader .menuArea > .menuContentsArea >.menuBgArea{top: 130px;}
header .menuArea > .menuContentsArea >.menuBgArea:hover{height: 245px;}
header .menuArea > .menuContentsArea >.menuBgArea.active{height: 245px;}
header .menuArea > .menuContentsArea >.menuBgArea div{width: 100px; height: 100px; background-color: red; margin-left: 100px;}
header .menuArea > .menuContentsArea >nav ul{display: flex; height: 100%; align-items: center;}
header .menuArea > .menuContentsArea >nav ul > li{height: 100%; font-size: 20px; position: relative;}
header .menuArea > .menuContentsArea >nav ul > li > a{display: flex; height: 100%; align-items: center;  padding: 0 50px;}
header .menuArea > .menuContentsArea >nav ul > li ol{width: 165px; height: 0px; overflow: hidden; background-color: white; position: absolute; top: 131px; z-index: 11; transition-duration: 0.5s;}
header .menuArea > .menuContentsArea >nav ul > li ol li a{font-size: 18px; display: block; text-align: left; padding: 15px 0; padding-left: 50px;}
@media screen and (min-width: 1101px){
    header .menuArea > .menuContentsArea >nav ul:hover > li ol{height: 245px;}
    header .menuArea > .menuContentsArea >nav ul:hover > li ol li{text-align: left;}
}
header .menuArea > .menuContentsArea >nav ul > li:hover > a{color: #c11b7b;}
header .menuArea > .menuContentsArea >nav ul > li ol.active{height: 245px;}
header .menuArea > .menuContentsArea >nav ul > li ol li:hover a{color: #c11b7b;}
header .menuArea > .menuContentsArea .loginArea{}
header .menuArea > .menuContentsArea .loginArea ul{display: flex; height: 100%; align-items: center; margin-left: auto;}
header .menuArea > .menuContentsArea .loginArea ul li:not(:first-of-type){width: 93px; height: 34px; background-color: #000000;  border-radius: 100px; margin-left: 10px;}
header .menuArea > .menuContentsArea .loginArea ul li:not(:first-of-type) a{font-size: 14px; color:#9e9e9e; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}
header .mainSliderArea .swiper-slide{height: 100vh; background-repeat: no-repeat; background-position: center center; background-size: cover;}
header .mainSliderArea .swiper-slide div{ width:96%; height: 100%; display: flex; flex-direction: column; justify-content: flex-end; margin-left: auto; padding-bottom: 120px; box-sizing: border-box;}
header .mainSliderArea .swiper-slide div h2{font-size: 80px; font-weight: 200; color: white; line-height: 1.2125; margin-bottom: 60px;}
header .mainSliderArea .swiper-slide div p{font-size: 24px; color: white; padding-top: 35px; border-top: 1px solid rgba(255,255,255,0.2);}
header .mainSliderArea .mainsliderContentsArea01{background-image: url(../images/main/mainSliderImg01.png);}
header .mainSliderArea .mainsliderContentsArea02{background-image: url(../images/main/mainSliderImg01.png);}
header .mainSliderArea .mainsliderContentsArea03{background-image: url(../images/main/mainSliderImg01.png);}
header .mainSliderArea .mainSliderNavigationArea{width: 100%; max-width: 1760px; margin: 0 auto; position: relative; bottom: 173px; }
header .mainSliderArea .mainSliderNavigationArea div{color: black; width: 30px; height: 30px; background-color: white; border-radius: 100%;}
header .mainSliderArea .mainSliderNavigationArea div::after{font-size: 10px; font-weight: bold;}
header .mainSliderArea .mainSliderNavigationArea .swiper-button-prev{left: auto; right: 60px;}
header .menuArea .shoppingBasketIcon{ font-size: 14px; font-weight: bold; padding: 20px 0; padding-left: 37px; background: url(../images/main/shoppingBasketIcon.png) no-repeat center left;right: 230px; top: 0;}

/* sub header 공통*/
.subHeader{background-repeat: no-repeat; background-position: center center; height: 400px; display: flex; flex-direction: column; justify-content: center;}
.subHeader h2{font-size: 80px; font-weight: 100; line-height: 1.25;  color: white; }

/* sub header 소개*/
.introduceSubHeader{background-image: url(../images/introduce/subHeaderBG.png);}
/* sub header 소식*/
.newsSubHeader{background-image: url(../images/news/subHeaderBG.png); }


/* footer */

body > div > hr{margin: 0; border: none; height: 1px; background-color:#e5e5e5; margin-top: 280px;}
footer{padding-top: 60px;}
footer > div:first-of-type{ margin-bottom: 45px;}
footer > div:first-of-type h2{font-size: 18px; font-weight: 400; margin-bottom: 20px;}
footer > div:first-of-type address{font-size: 36px; font-weight: bold; font-style: normal; margin-bottom: 30px; }
footer > div:first-of-type ul::after{content: ''; display: block; visibility: hidden; clear: both;}
footer > div:first-of-type ul li{float: left; display: flex; font-size: 14px; font-weight: 500; margin-bottom: 15px;}
footer > div:first-of-type ul li:not(:last-of-type){margin-right: 30px;}

footer > div:nth-of-type(2){}
footer > div:nth-of-type(2) h1{margin-bottom: 40px;}
footer > div:nth-of-type(2) ul{margin-bottom: 5px;}
footer > div:nth-of-type(2) ul::after{content: ''; display: block; visibility: hidden; clear: both;}
footer > div:nth-of-type(2) ul li{float: left; display: flex; font-size: 14px; font-weight: 500; letter-spacing: -1px; margin-bottom: 15px;}
footer > div:nth-of-type(2) ul li:not(:last-of-type){position: relative; padding-right: 18px;}
footer > div:nth-of-type(2) ul li:not(:last-of-type)::after{content: ''; width: 1px; height: 100%; background-color: black; position: absolute; right: 9px; top: 0;}
footer > div:nth-of-type(2) ul li span{display: inline-block; width: 10px; text-align: center;}
footer > div:nth-of-type(2) > p{font-style: 14px; font-weight: 400; color: #9a9a9a; margin-bottom: 60px;}

footer > hr{margin: 0; background-color: #e5e5e5; }

footer div:nth-of-type(3){display: flex; justify-content: space-between;}
footer div:nth-of-type(3) nav{}
footer div:nth-of-type(3) nav ul{display: flex;}
footer div:nth-of-type(3) nav ul li:not(:last-of-type){ margin-right: 30px;}
footer div:nth-of-type(3) nav ul li a{display: block; padding: 35px 0;}


/* 장바구니 , 주문서작성, 주문완료 */
.orderInformationArea{}
.orderInformationArea h2{font-size: 18px; font-weight: 500; margin-bottom: 20px;}
.orderInformationArea >ul{}
.orderInformationArea >ul > li{display: flex; }
.orderInformationArea >ul > li:not(:last-of-type){border-bottom: 1px solid #eeeeee;}
.orderInformationArea >ul > li h3{width: 17.5%; padding: 20px 30px;  background-color: #fbfbfb;}

/* 장바구니 , 주문서작성, 주문완료  - 가격 색상 포인트*/
p.priceColorPointArea{font-size: 18px; font-weight: 500; color: #ba005f; }


/* sub 이벤트 , 뉴스 메거진 , 공지사항 페이저 */
.paperArea{display: flex; justify-content: center; text-align: center;}
.paperArea *{display: inline-block; font-size: 14px; }
.paperArea > div:nth-of-type(2){}
.paperArea > div:nth-of-type(2) a{width: 32px; color: #838383;}
.paperArea > div:nth-of-type(2) a:hover{color: black;}
.paperArea > div:nth-of-type(2) a.active{color: black;}
.paperArea > div:nth-of-type(1){margin-right: 25px;}
.paperArea > div:nth-of-type(3){margin-left: 25px;}
.paperArea > div:nth-of-type(2n + 1){width: 30px; display: flex; justify-content: space-between;}

/* Q & A 탭 메뉴 */
.QnAArea h2{font-size: 30px; margin-bottom: 30px;}
.QnAArea ul{}
.QnAArea ul li{ border-bottom: 1px solid #dfdfdf; cursor: pointer;}
.QnAArea ul li:first-of-type{border-top: 1px solid #dfdfdf;}
.QnAArea ul li h3{font-size: 18px; font-weight: 400; line-height: 1.4; padding: 22px 0; padding-right: 20px; box-sizing: border-box; color: black; width: 100%; max-width: 1140px; margin: 0 auto; position: relative;}
.QnAArea ul li h3::after{content: '+'; font-size: 35px; line-height: 0.3; position: absolute; right: 0; top: 0px;
    height: 100%; display: flex; align-items: center;
}
.QnAArea ul li div{display: none;font-size: 16px; line-height:1.625; color: #757575; padding: 25px 20px 25px 60px; background-color:#f7f7f7;  border-top: 1px solid #dfdfdf; margin: 0;}
.QnAArea ul li.active div{display: block;}
.QnAArea ul li.active h3::after{content: '-';}



@media screen and (max-width: 1100px){
    header .menuArea > .menuContentsArea >nav {width: calc(100% - 80px); max-width: 1760px; margin: 0 auto;}


    header .menuArea{justify-content: space-between; align-items: center;}
    header .menuArea .mobileMenuArea{display: flex; align-items: center;}
    header .menuArea .mobileMenuArea .shoppingBasketIcon{background-size: 35px; padding-left: 55px;}
    header .menuArea .mobileMenuArea .shoppingBasketIcon span{font-size: 22px; font-weight: bold; display: flex; justify-content: center; align-items: center; width: 42px; height: 42px; background-color: black; color: white; border-radius: 100%;}
    header .menuArea .mobileMenuArea .hamburgerMenuArea{width: 45px; margin-left: 40px;}
    header .menuArea .mobileMenuArea .hamburgerMenuArea span{display: block; height: 3px; background-color: black; transition: 0.5s;}
    header .menuArea .mobileMenuArea .hamburgerMenuArea span:not(:last-of-type){margin-bottom: 14px;}
    header .menuArea .mobileMenuArea .hamburgerMenuArea span:nth-of-type(2){width: 35px; margin-left: auto;}
    header .menuArea .mobileMenuArea .hamburgerMenuArea.active span:nth-of-type(1){transform: translateY(17px) rotate(45deg);}
    header .menuArea .mobileMenuArea .hamburgerMenuArea.active span:nth-of-type(2){opacity: 0; transition: 0.1s;}
    header .menuArea .mobileMenuArea .hamburgerMenuArea.active span:nth-of-type(3){transform: translateY(-17px) rotate(135deg);}
    header .menuArea > .menuContentsArea{position: absolute; top: 131px; left: 0; z-index: 10; width: 100%; background-color: white; flex-direction: column; display: none;}
    header .menuArea > .menuContentsArea.active{display: flex;}
    header .menuArea > .menuContentsArea >.menuBgArea{display: none;}
    header .menuArea > .menuContentsArea > *:not(nav){padding: 0;}
    header .menuArea > .menuContentsArea >nav{order: 2;}
    header .menuArea > .menuContentsArea >nav ul{ flex-direction: column; align-items: flex-start;}
    header .menuArea > .menuContentsArea >nav ul > li{text-align: left; width: 100%; }
    header .menuArea > .menuContentsArea >nav ul > li ol{height: auto; position: static; background-color: #f7f7f7;}
    header .menuArea > .menuContentsArea >nav ul > li ol li{height: 0; overflow: hidden; transition: 0.5s; }
    header .menuArea > .menuContentsArea >nav ul > li ol li a{font-size: 0; padding: 0; width: 100%; height: 100%; display: flex; align-items: center; text-indent: 50px; transition-property: font-size; transition: 0.1s;}
    header .menuArea > .menuContentsArea >nav ul > li.active ol{width: 100%;   border-bottom: 1px solid #d9d9d9; transition: 0s;}
    header .menuArea > .menuContentsArea >nav ul > li.active ol li{ height: 62px;}
    header .menuArea > .menuContentsArea >nav ul > li.active ol li a{font-size: 24px;}
    header .menuArea > .menuContentsArea >nav ul > li > a{padding: 0; width: 100%;  font-size: 26px; padding: 28px 0;}
    header .menuArea > .menuContentsArea >nav ul > li:first-of-type > a{border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9;}
    header .menuArea > .menuContentsArea >nav ul > li:not(:first-of-type) > a{border-bottom: 1px solid #d9d9d9;}
    header .menuArea > .menuContentsArea .loginArea{order: 1; padding-top: 20px; margin-bottom: 60px;}
    header .menuArea > .menuContentsArea .loginArea ul{margin-left: 0;}
    header .menuArea > .menuContentsArea .loginArea ul li:first-of-type{display: none;}
    header .menuArea > .menuContentsArea .loginArea ul li:not(:first-of-type){width: 163px; height: 60px; margin: 0;}
    header .menuArea > .menuContentsArea .loginArea ul li:last-of-type{margin-left: 18px;}
    header .menuArea > .menuContentsArea .loginArea ul li:not(:first-of-type) a{font-size: 26px;}

    .paperArea{width: 100%; max-width: 500px; margin: 0 auto; justify-content: space-between;}
    .paperArea *{font-size: 22px;}
    .paperArea > div:nth-of-type(2n + 1){width: 55px; margin: 0;}
}

@media screen and (max-width: 800px){
    .navigationArea{font-size: 22px;}

    .productCompositionArea h2,.introduceFigureArea h2, .introduceFigureArea figure figcaption{width: calc(100% - 80px); margin: 0 auto;}
    .productCompositionArea{width: 100%;}

    /* .acneCureArea .productCompositionArea h2{width: calc(100% - 80px); margin: 0 auto; margin-bottom: 40px;} */
    /* .acneCureArea .productCompositionArea{width: 100%;} */

    .basicBtn{font-size: 30px; width: 325px; line-height: 100px;}


    .calmingFormulaArea h2{width: calc(100% - 80px);}
    .calmingFormulaArea{width: 100%;}

    .PCImg{display: none !important;}
    .MobileImg{display: block !important;}
    
    .QnAArea h2{width: calc(100% - 80px); margin: 0 auto;}
    .QnAArea{width: 100%;}
    .QnAArea ul li h3{font-size: 22px; line-height: 1.5454; padding-right: 53px; padding-left: 40px; box-sizing: border-box; letter-spacing: -1px;}
    .QnAArea ul li h3::after{right: 40px;}
    .QnAArea ul li div{font-size: 22px;}


    body > div > hr{margin-top: 140px;}
}

@media screen and (max-width: 640px){
    .navigationArea{font-size: 3.4375vw; margin:4.6875vw auto 9.0625vw auto;}

/* 컨텐츠 최대 크기 지정 width 1760px*/
.mainTopBannerArea > a > div, header.mainHeader .menuArea, .videoArea , footer.mainFooter 
{width: calc(100% - 12.5vw);}
/* 컨텐츠 크기 지정 width 1200px*/
/* 메인 */
header .menuArea, .technologyArea, .wiseChoiceArea,.reviewArea .reviewContentsArea, .selfBeautyArea ul, .mainTopBannerArea > div,
/* 회원가입 */
.singUpArea,
/* 로그인 */
.loginArea,
/* 장바구니 */
/* .paymentProgressArea,.orderListTitleArea,.orderListArea, */
.shoppingBasketArea,
/* 주문완료 */
.orderCompletedArea,
/* 이용약관 , */
.termsArea,
/* 소식 - 뉴스 메거진 */
.subHeader h2, .newsArea,
/* 공지사항 - 게시판 , 내용*/
.newsNoticeArea, .newsNoticeContentsArea,
/* 소개 공통 */
.introduceArea section:first-of-type,.introduceBannerArea > div,.introduceArea .indroduceFigureArea,.characteristicArea,
.productCompositionArea h2,.introduceArea figure + .introduceSubContentsArea,
/* 소개 - 회사소개 */
.aboutTriaBeautyArea,.medicalEquipmentArea,.introduceHistoryArea > div,
/* 소개 - 코스메틱 */
.cosmeticArea .calmingFormulaArea h2,.plantRecipeArea,.necessaryMomentArea,
/* 소개 - 여드름치료 */
.acneCureArea .ourSkinlaArea h2,.acneCureArea .ourSkinlaArea figure figcaption, .acneCureArea .portabilityArea,
.acneCureArea .acneCureBanner02 > figure,.acneCureArea .recommendationArea h2, .acneCureArea .recommendationArea figure figcaption,/*.acneCureArea .characteristicArea,*/
/*.acneCureArea .procedureArea*/.procedureArea,.acneCureArea .productCompositionArea h2, 
/* 소개 - 레이저제모 , 피부개선 공통 */
.introduceArea > ul,.heatEnergyArea01 h2,.heatEnergyArea01 figure figcaption,
/* 소개 - 레이저제모 */
.heatEnergyArea02,.laserArea .laserRecommendationArea,
/* 소개 - 피부개선 */
.SkinArea .skinRecommendationArea ,.introduceFigureArea h2, .introduceFigureArea figure figcaption,
/* 고객센터 */
.serviceCenterArea,
/* 공통 */
.QnAArea h2,
 footer
{width: calc(100% - 12.5vw); margin: 0 auto; }

.productCompositionArea,
.acneCureArea .productCompositionArea,
.acneCureArea .ourSkinlaArea,
.penetrationArea,
.acneCureArea .recommendationArea{width: 100%;}

.acneCureArea .productCompositionArea h2{margin-bottom: 5.625vw;}
.acneCureArea .ourSkinlaArea h2,.acneCureArea .recommendationArea h2{margin-bottom: 6.25vw;}

.basicBtn{font-size: 4.6875vw; width: 50.78125vw; line-height: 15.625vw;}
.subHeader{height: 62.5vw;}
.subHeader h2{font-size: 12.5vw; text-align: center;}

    /* header 메뉴 */
    /* 로고 */
    header .menuArea h1{width: 22vw; height: 20vw;}
    header .menuArea > .menuContentsArea{top: 20.15vw;}
    header.mainHeader .menuArea > .menuContentsArea{top:20vw;}
    
    header .menuArea .mobileMenuArea .shoppingBasketIcon{background-size: 5.46875vw; padding-left: 8.59375vw;}
    header .menuArea .mobileMenuArea .shoppingBasketIcon span{font-size: 3.4375vw; width: 6.5625vw; height: 6.5625vw;}
    /* 햄버거 메뉴 */
    header .menuArea .mobileMenuArea .hamburgerMenuArea{width: 7vw; margin-left: 6.25vw;}
    header .menuArea > .menuContentsArea .loginArea ul li:not(:first-of-type){margin-bottom: 2.187vw}
    header .menuArea .mobileMenuArea .hamburgerMenuArea span:nth-of-type(2){width: 5.4687vw}

    /* 로그인 , 회원가입 버튼 */
    header .menuArea > .menuContentsArea .loginArea{padding-top: 3.125vw; margin-bottom: 9.375vw;}
    header .menuArea > .menuContentsArea .loginArea ul li:not(:first-of-type){width: 25.4687vw ; height: 9.375vw;}
    header .menuArea > .menuContentsArea .loginArea ul li:not(:first-of-type) a{font-size: 4.0625vw;}

    /* 모바일 메뉴 */
    header .menuArea > .menuContentsArea >nav ul > li > a{font-size: 4.0625vw; padding:4.375vw 0;}
    header .menuArea > .menuContentsArea >nav ul > li.active ol li{height: 9.6875vw;}
    header .menuArea > .menuContentsArea >nav ul > li.active ol li a{font-size: 3.7vw;}


    .paperArea *{font-size: 3.4375vw;}
    .paperArea > div:nth-of-type(2n + 1){width: 8.59375vw; margin: 0;}


    .QnAArea ul li h3{font-size: 3.4375vw; padding-right: 8.28125vw; padding-left: 6.25vw; box-sizing: border-box; letter-spacing: -0.15625vw;}
    .QnAArea ul li h3::after{right: 6.25vw;}
    .QnAArea ul li div{font-size: 3.4375vw;}

    body > div > hr{margin-top: 21.875vw;}
    
}