/* 소개 공통 */
.introduceArea{}
.introduceArea > *:not(:last-child){margin-bottom: 100px;}
.introduceArea section:first-of-type{margin-bottom: 100px;}
.introduceArea section:first-of-type h2{font-size: 40px;}
.introduceArea h2{font-size: 30px; margin-bottom: 30px;}
.introduceArea p{font-size: 20px; font-weight: 400; line-height: 1.8; letter-spacing: -1px;}
.introduceArea span{color: #b41f77;}
.introduceArea h3{font-size: 20px; font-weight: 500; color: #b41f77; margin-bottom: 10px;}


/* 소개 이미지 설명 */
.introduceArea .introduceFigureArea img,
.introduceArea .introduceFigureArea img
{display: inline-block; width: 100%;margin-bottom: 30px;}

/* 소개 서브 내용 */
.introduceArea .introduceSubContentsArea{padding-left: 20px; position: relative;}
.introduceArea .introduceSubContentsArea::before{content: ''; width: 1px; height: 100%; position: absolute; left: 0; top: 0; background-color: #b2b2b2;}
.introduceArea .introduceSubContentsArea *{font-size: 14px; line-height: 1; color: #9e9e9e;}
.introduceArea .introduceSubContentsArea *:not(:last-child){margin-bottom: 10px; }
.introduceArea .introduceSubContentsArea div{display: flex;}
.introduceArea .introduceSubContentsArea a{display: block; color: #248bb2;}


/* 소개 배너 */
.introduceBannerArea{height: 565px; background-repeat: no-repeat; background-position: center center;}
.introduceBannerArea > div{ height: 100%; display: flex; flex-direction: column; justify-content: center; }



/* 레이저치료 , 피부개선 공통 */
.introduceArea > ul:first-child{display: flex; justify-content: space-between;}
.introduceArea > ul > li{width: calc(100%/2 - 40px); height: 400px; padding: 50px 60px; box-sizing: border-box; background-repeat: no-repeat; background-position: center center; background-size: cover; border-radius: 70px;}
.introduceArea > ul > li > a{ height: 100%; display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end;}
.introduceArea > ul > li > a > p{font-size: 28px; margin-bottom: 30px;}
.introduceArea > ul > li > a > div{width: 58px; height: 1px; background-color: black; position: relative;}
.introduceArea > ul > li > a > div::after{content: ''; display: block; width: 20px; height: 1px; background-color: black; position: absolute; right: 0; top: 0; transform: rotateZ(45deg); transform-origin: right;}


/* sub 소개 - 제품특징*/
.characteristicArea{}
.characteristicArea h2{}
.characteristicArea > p{margin-bottom: 50px;}
.characteristicArea ul li:not(:last-of-type){margin-bottom: 25px;}

/* sub 소개 - 여드름치료  시술방법 */
.procedureArea ol{display: flex; justify-content: space-between; margin-bottom: 40px;}
.procedureArea ol li {width: calc(100%/3 - 30px);}
.procedureArea ol li figure{height: 100%; display: flex; flex-direction: column; }
.procedureArea ol li figure img{width: 100%; border-radius: 50%; margin-bottom: 40px; background-color: #f7f7f7}
.procedureArea ol li figure figcaption{padding-left: 30px; position: relative; flex: 1;}
.procedureArea ol li figure figcaption::before{content: ''; display: block; width:2px; height: 100%; position: absolute; left: 0; top: 0;  background-color: #b41f77;}
.procedureArea ol li figure figcaption h3{font-size: 20px; font-weight: 500; color: #b41f77; margin-bottom: 20px;}
.procedureArea ol li figure figcaption p{font-size: 16px; color: #757575;}

/* sub 배너 */
.introduceBannerArea.subBanner02{background-image: url(../images/introduce/laser/laserBannerImg02.png);}
.introduceBannerArea.subBanner02 > div > *{width: 50%; text-align: left; margin-left: auto;}
.introduceBannerArea.subBanner02 > div h2{font-weight: 500;}

@media screen and (max-width: 1100px){
    .introduceArea > ul > li{width: calc(100%/2 - 10px);}
}

@media screen and (max-width: 800px){
    .introduceArea > *:not(:last-child){margin-bottom: 80px;}

    .introduceArea > ul:first-child{flex-direction: column;}
    .introduceArea > ul > li{width: 100%; height: 340px;}
    .introduceArea > ul > li:not(:last-of-type){margin-bottom: 40px;}
    
    .introduceArea .introduceSubContentsArea *{font-size: 22px; line-height: 1.5454; }
    .introduceArea .introduceSubContentsArea *:not(:last-child){ margin: 0;}
    .introduceArea .introduceSubContentsArea a{letter-spacing: -1.5px;}

    .introduceArea h2{font-size: 36px; margin-bottom: 40px; letter-spacing: -2px;}
    .introduceArea section:first-of-type{margin-bottom: 80px;}
    .introduceArea section:first-of-type{}
    .introduceArea section:first-of-type h2{letter-spacing: -2px;}
    .introduceArea p{font-size: 24px; letter-spacing: -1.5px;}
    .introduceBannerArea > div{justify-content: flex-start;}
    
    .procedureArea ol{flex-wrap: wrap;}
    .procedureArea ol li{width: 100%;}
    .procedureArea ol li:not(:last-of-type){margin-bottom: 50px;}
    .procedureArea ol li figure img{width: 250px; height: 250px; display: block; margin: 0 auto; margin-bottom: 30px;}
    .procedureArea ol li figure figcaption h3{font-size: 26px; font-weight: bold; text-transform: uppercase; font-weight: bold;}
    .procedureArea ol li figure figcaption h3 span{font-weight: bold;}
    .procedureArea ol li figure figcaption p{font-size: 22px;}

    /* sub 배너 */
    .introduceBannerArea.subBanner02{height: 760px; background-image: url(../images/m/introduce/laser/laserBannerImg02.png); background-size: cover;}
    .introduceBannerArea.subBanner02 > div{justify-content: flex-end;}
    .introduceBannerArea.subBanner02 > div > *{width: 100%;}
    .introduceBannerArea.subBanner02 > div > h2{width: 80%; margin-left: 0;}
    .introduceBannerArea.subBanner02 > div > p{margin-bottom: 65px;}
    
}

@media screen and (max-width: 640px){
    .introduceArea > *:not(:last-child){margin-bottom: 12.5vw;}
    .introduceBannerArea{height: 88.28125vw;}

    .introduceArea > ul > li:not(:last-of-type){margin-bottom: 6.25vw;}
    .introduceArea > ul > li{height: 53.125vw; border-radius: 10.9375vw;}
    .introduceArea > ul > li > a > p{font-size: 4.375vw; margin-bottom: 4.6875vw;}
    .introduceArea > ul > li > a > div{width: 9.0625vw;}
    .introduceArea > ul > li > a > div::after{width: 3.125vw;}

    .introduceArea .introduceSubContentsArea *{font-size: 3.4375vw;}

    .introduceArea h2{font-size: 5.625vw; margin-bottom: 6.25vw;}
    .introduceArea section:first-of-type{margin-bottom: 12.5vw;}
    .introduceArea section:first-of-type h2{font-size: 6.25vw;}

    .introduceArea p{font-size: 3.75vw;}

    .procedureArea ol li:not(:last-of-type){margin-bottom: 7.8125vw;}
    .procedureArea ol li figure img{width: 39.0625vw; height: 39.0625vw; margin-bottom: 4.6875vw;}
    .procedureArea ol li figure figcaption h3{font-size: 4.0625vw;}
    .procedureArea ol li figure figcaption p{font-size: 3.4375vw;}


    .introduceBannerArea.subBanner02{height: 118.75vw;}
    .introduceBannerArea.subBanner02 > div > p{margin-bottom: 10.15625vw;}
}

