/* 소개 공통 */
.introduceArea{}
.introduceArea > *:not(:last-child){margin-bottom: 100px;}
.introduceArea section:first-of-type{margin-bottom: 100px;}
.introduceArea section:first-of-type h2{font-size: 40px;}
.introduceArea h2{font-size: 30px; margin-bottom: 30px;}
.introduceArea p{font-size: 20px; font-weight: 400; line-height: 1.8; letter-spacing: -1px;}
.introduceArea span{color: #b41f77;}

/* 소개 배너 */
.introduceBannerArea{height: 565px; background-repeat: no-repeat; background-position: center center;}
.introduceBannerArea > div{ height: 100%; display: flex; flex-direction: column; justify-content: center; }



