/* 로그인 페이지 레이아웃 */
.loginArea{display: flex; justify-content: space-between;}
.loginArea section{width: calc(50% - 20px); max-width: 560px;}
.loginArea section h2{font-size: 40px; margin-bottom: 20px;}
.loginArea section p{font-size: 20px; line-height: 1.8; margin-bottom: 20px;}


/* 로그인 , 회원가입 공통 */
.loginContentArea > div, .signUpArea > div{display: flex; flex-direction: column; height: 385px;  justify-content: center; background-color: #f7f7f7; }
.loginContentArea > div > form, .signUpArea > div > div {width: calc(100% - 20px); max-width: 450px; margin: 0 auto; }
.loginContentArea > div , .signUpArea > div{border-radius: 40px;}

/* 로그인 */
.loginContentArea > div > form label{display: block; font-size: 16px;}
/* .loginContentArea > div > form input:not([type="checkbox"]):not([type="submit"]){width: 100%; background:#f7f7f7;  border: none; border-bottom: 1px solid black;} */
.loginContentArea > div > form input[type="text"],.loginContentArea > div > form input[type="password"]{width: 100%; background:#f7f7f7;  border: none; border-bottom: 1px solid black; outline: none;}
.loginContentArea > div > form input[type="text"]{margin-bottom: 38px;}
.loginContentArea > div > form input[type="password"]{margin-bottom: 30px;}
.loginContentArea > div > form > div{display: flex; justify-content: space-between; margin-bottom: 40px;}
.loginContentArea > div > form > div > *{display: flex; font-size: 14px;}
.loginContentArea > div > form > div ul{display: flex;}
.loginContentArea > div > form > div ul li:not(:first-of-type){margin-left: 15px; padding-left: 15px; position: relative;}
.loginContentArea > div > form > div ul li:not(:first-of-type)::after{content: ''; display: block; width: 1px; height: 75%; background-color: #acacac; position: absolute; left: 0; top: 1px;}
.loginContentArea > div > form > div ul li a{display: block;}


.signUpArea > div{text-align: center;}
.signUpArea > div div img{margin-bottom: 50px;}


@media screen and (max-width: 1100px){
    .loginArea{flex-direction: column; align-items: center;}
    .loginArea > section{width: 100%; max-width: 560px;}
    .loginArea > section:not(:last-of-type){margin-bottom: 100px;}
}

@media screen and (max-width: 800px){
    .loginArea section p{font-size: 22px;}
    .loginArea section p br{display: none;}
    .loginContentArea > div > form label{font-size: 22px;}
    .loginContentArea > div > form > div ul li a{font-size: 20px;}
}

@media screen and (max-width: 640px){
    /* .loginContentArea > div, .signUpArea > div{height: 60.15625vw;} */
    .loginContentArea > div, .signUpArea > div{padding: 0 1.5625vw; box-sizing: border-box;}

    .loginArea section p{font-size: 3.4375vw;}
    .loginArea section p br{display: none;}
    .loginContentArea > div > form label{font-size: 3.4375vw;}
    .loginContentArea > div > form > div ul li a{font-size: 3.125vw;}
}

