@media screen and (min-width: 1100px){.mobileBR{display: none;}}

/* 버튼 기본 설정 */
.btn{width: 100%; max-width: 230px; height: 60px; padding: 0 30px; box-sizing: border-box; font-size: 18px; font-weight: 500; display: flex; justify-content: space-between; line-height: 60px; color: white; background-color: black; border-radius: 50px;}
.btn::after{content: '+'; font-size: 25px; text-align: right; }

.mainTopBannerArea{height: 120px; background: url(../images/main/topBanner.png) no-repeat center center;}
.mainTopBannerArea.active{display: none;}
.mainTopBannerArea > div {height: 100%; width: calc(100% - 80px); max-width: 1720px; margin: 0 auto; display: flex; justify-content: flex-end; align-items: center; position: relative;}
.mainTopBannerArea > div a{display: block;width: 100%; height: 100%;  }
.mainTopBannerArea > div > .mainTopBannerBtn{width: 33px; height: 33px; background: url(../images/main/topBannerBtn.png) no-repeat center center; position: absolute; right: 0; top: 44px; z-index: 1; cursor: pointer;}

header .mainSliderArea .swiper-slide{position: relative;}
header .mainSliderArea .swiper-slide div:first-of-type{position: relative; z-index:10;}
.mainVideoArea{position: absolute; left: 0; top: 0; width: 100%;}
.mainVideoArea video{width: 100%; height: 100%;}

section h2{font-size: 40px; font-weight:400; }
section > p{font-size: 20px; font-weight: 500; }

/* technologyArea */
.technologyArea{text-align: center; margin-bottom: 210px;}
.technologyArea h2{margin-bottom: 30px;}
.technologyArea > p{ margin-bottom: 105px;}
.technologyArea ol{text-align: left;}
.technologyArea ol li{display: flex; justify-content: space-between;}
.technologyArea ol li:not(:last-of-type){margin-bottom: 180px;}
.technologyArea ol li div{position: relative;}
.technologyArea ol li div:first-of-type{width: 50%; margin-right: 65px; flex: 1;  display: flex; flex-direction: column; justify-content: flex-end; letter-spacing: -1px;}
.technologyArea ol li div:first-of-type h3{font-size: 30px; font-weight:700; margin-bottom: 60px}
.technologyArea ol li div:first-of-type h3 span{display: block; font-size: 22px; font-weight: 800; margin-bottom: 25px;}
.technologyArea ol li div:first-of-type p{font-size: 20px; line-height: 1.8; color: #9e9e9e; margin-bottom: 70px; }
.technologyArea ol li div:first-of-type p br{display: none;}
.technologyArea ol li div:nth-of-type(2){width: 49%; flex: 1;}
.technologyArea ol li div:nth-of-type(2) img{width: 100%;}
.technologyArea ol li div:nth-of-type(2) img:nth-of-type(2){position: absolute;}
.technologyArea ol li:nth-of-type(2) div:first-of-type{order: 1; width: 45%; margin-right: 0; margin-left:65px;}
.technologyArea ol li:nth-of-type(1) div:nth-of-type(2) img:nth-of-type(2){right: -75px; bottom: -95px;}
.technologyArea ol li:nth-of-type(2) div:nth-of-type(2) img:nth-of-type(2){right: 0; bottom: -82px;}
.technologyArea ol li:nth-of-type(3) div:nth-of-type(2) img:nth-of-type(2){right: 50px; bottom: -40px;}
.technologyArea ol li:nth-of-type(3) div:first-of-type{}


/* videoArea */
.videoArea{height: 900px; background: url(../images/main/videoImg.png) no-repeat center center; background-size: cover; border-radius: 50px; margin-bottom: 140px;}



/* wiseChoiceArea */
.wiseChoiceArea{text-align: center; margin-bottom: 115px;}
.wiseChoiceArea h2{margin-bottom: 23px;}
.wiseChoiceArea > p{margin-bottom: 60px;}
.wiseChoiceArea ul::after{content: ''; display: block; visibility: hidden; clear: both;}
.wiseChoiceArea ul li{float: left; width: 23.50%;}
.wiseChoiceArea ul li:nth-last-of-type(n+5){margin-bottom: 105px; }
.wiseChoiceArea ul li:not(:nth-of-type(4n)){margin-right: 2%;}
.wiseChoiceArea ul li figure{display: flex; flex-direction: column;}
.wiseChoiceArea ul li figure img{width: 100%; margin-bottom: 25px;}
.wiseChoiceArea ul li figure figcaption{display: flex; flex-direction: column; height: 180px;}
.wiseChoiceArea ul li figure figcaption h3{font-size: 20px; font-weight: 500; margin-bottom: 10px; line-height: 1.5;}
.wiseChoiceArea ul li figure figcaption p{font-size: 28px; font-weight: 500; color: #c11b7b;}
/* .wiseChoiceArea ul li figure figcaption a{align-self: center; display: inline-block; margin-top: auto; font-size: 18px; font-weight: 500; color: white; background-color: black; border-radius: 50px; width: 215px; height: 60px; } */
.wiseChoiceArea ul li figure figcaption a{margin-top: auto; align-self: center; text-align: right;}
.wiseChoiceArea ul li figure figcaption a::before{content: ''; width: 21px; height: 100%; background: url(../images/main/buyNowImg.png) no-repeat center center;}
.wiseChoiceArea ul li figure figcaption a::after{display: none;}

/* reviewArea */
.reviewArea{background: url(../images/main/reviewBGImg.png) no-repeat left center; height: 1055px; margin-bottom: 140px;}
.reviewArea .reviewContentsArea{height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: flex-end; padding: 0; margin-left: auto;}
.reviewArea .reviewContentsArea p{font-size: 40px; font-weight: 300; line-height: 1.5; color: white; text-align: right; margin-bottom: 50px; margin-top: 85px;}
.reviewArea .reviewContentsArea p span{border-bottom: 1px solid white;}
.reviewArea .reviewContentsArea > a{color: black; background-color: white; margin-bottom: 60px;}
.reviewArea .reviewContentsArea .reviewSliderArea{width: 100%; max-width: 660px; margin-right: 0;} 
.reviewArea .reviewContentsArea .reviewSliderArea img{width: 100%; border-radius: 50px; margin-bottom: 40px;}
.reviewArea .reviewContentsArea .reviewSliderArea blockquote{text-align: center; font-size: 20px; font-weight: 500; line-height: 1.8; color: white; letter-spacing: -1px; margin-bottom: 50px; position: relative;}
.reviewArea .reviewContentsArea .reviewSliderArea blockquote::before, .reviewArea .reviewContentsArea .reviewSliderArea blockquote::after{content: ''; display: inline-block; width: 36px; height: 100%; background-repeat: no-repeat; background-position: center center; background-size: contain; position: absolute; top: 0;}
.reviewArea .reviewContentsArea .reviewSliderArea blockquote::before{background-image: url(../images/main/reviewIconL.png); left: 0;}
.reviewArea .reviewContentsArea .reviewSliderArea blockquote::after{background-image: url(../images/main/reviewIconR.png); right: 0;}
.reviewArea .reviewContentsArea .reviewPagination{width: 100%; max-width: 660px; margin-left: auto; text-align: center;}
.reviewArea .reviewContentsArea .reviewPagination span{width: 15px; height: 15px;}
.reviewArea .reviewContentsArea .reviewPagination span:not(:last-of-type){margin-right: 15px;}
.reviewArea .reviewContentsArea .reviewPagination .swiper-pagination-bullet-active{background-color: white; box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);}


/* selfBeautyArea */
.selfBeautyArea{text-align: center; margin-bottom: 140px;}
.selfBeautyArea h2{margin-bottom: 27px;}
.selfBeautyArea > p{margin-bottom: 60px;}
.selfBeautyArea ul{padding-top: 0; margin-bottom: 70px;}
.selfBeautyArea ul::after{content: ''; display: block; visibility: hidden; clear: both;}
.selfBeautyArea ul li{float: left; width: 49%; max-width: 560px; text-align: left;}
.selfBeautyArea ul li:nth-of-type(2){float: right;}
.selfBeautyArea ul li img{width: 100%; border-top-left-radius: 50px; border-bottom-right-radius: 50px; margin-bottom: 20px; }
.selfBeautyArea ul li span{display: block; font-style:italic; margin-bottom: 10px;}
.selfBeautyArea ul li h3{font-size: 24px; font-weight: 700; margin-bottom: 30px;}
.selfBeautyArea ul li p{font-size: 16px; line-height: 1.75; color: #737373; white-space: normal; height: 60px; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.selfBeautyArea a{margin: 0 auto;}


/* instagramArea */
.instagramArea{}
.instagramArea::after{content: ''; display: block; visibility: hidden; clear: both;}
.instagramArea > div{float: left; width: 50%; position: relative;}
.instagramArea > div img{width: 100%;}
.instagramArea > div > div{position: absolute; left: 0; bottom: 0; width: 62.5%; background-color: white; border-top-right-radius: 50px;}
.instagramArea > div > div > div{display: flex; flex-direction: column; justify-content: flex-end; width: 100%; max-width: 520px; height: 180px; margin-left: auto;}
.instagramArea > div > div > div h2{font-size: 30px; font-weight: 400;}
.instagramArea > div > div > div p{font-size: 40px; font-weight: 400; line-height: 2;}
.instagramArea > ul{float: left; width: 50%;}
.instagramArea > ul::after{content: ''; display: block; visibility: hidden; clear: both;}
.instagramArea > ul li{float: left; width: 50%; line-height: 0;}
.instagramArea > ul li a{line-height: 0;}
.instagramArea > ul li img{width: 100%;}


 @media screen and (max-width: 1370px){
    .technologyArea ol li:nth-of-type(1) div:nth-of-type(2) img:nth-of-type(2){right: 0;}
}

@media screen and (max-width: 1000px){
    .technologyArea ol li:nth-of-type(1) div:nth-of-type(2) img:nth-of-type(2){top: 0;}
}

@media screen and (max-width: 1100px){
    .technologyArea{padding-top: 130px;}

    section h2{font-size: 44px; line-height: 1.3636;}
    section > p{width: 100%; font-size: 24px; line-height: 1.75;}
    .technologyArea{width: calc(100% - 80px); margin: 0 auto;}
    .technologyArea h2{margin-bottom: 10px;}
    .technologyArea > p{margin-bottom: 50px;}
    .technologyArea ol{margin-bottom: 140px;}
    .technologyArea ol li{flex-direction: column; width: 100%; }
    .technologyArea ol li div:first-of-type{order:1; max-width: 100%; width: 100%; margin-right: 0;}
    .technologyArea ol li div:nth-of-type(2){width: 100%; margin-bottom: 60px;}
    .technologyArea ol li:nth-of-type(2) div:first-of-type{max-width: 100%; width: 100%; margin-left: 0;}
    .technologyArea ol li div:first-of-type p{font-size: 22px; margin-bottom: 40px;}
    .technologyArea ol li:not(:last-of-type){margin-bottom: 120px;}
    
    
    .wiseChoiceArea, .selfBeautyArea{width: calc(100% - 80px); margin: 0 auto;}
    .wiseChoiceArea{margin-bottom: 110px;}
    .wiseChoiceArea ul{justify-content: space-between;}
    .wiseChoiceArea ul li{width: calc(50% - 20px);}
    .wiseChoiceArea ul li:not(:nth-of-type(4n)){margin-right: 0;}
    .wiseChoiceArea ul li:nth-of-type(2n + 1){margin-right: 40px;}
    .wiseChoiceArea ul li:nth-last-of-type(n+3){margin-bottom: 80px;}
    .wiseChoiceArea ul li figure figcaption h3{font-size: 22px;}

    .videoArea{width: 100%; height: 330px; border-radius: 0;}

    .reviewArea{
        height: 1420px;
        background-image: url(../images/m/main/reviewBG.png), url(../images/m/main/reviewBGImg.png);
        background-repeat: no-repeat;
        background-position: center top, center bottom -930px;
        background-size: contain, 1100px;
    }
    .reviewArea .reviewContentsArea{justify-content: flex-end; align-items: stretch;}
    .reviewArea .reviewContentsArea p{text-align: center;}
    .reviewArea .reviewContentsArea > a{display: none;}
    .reviewArea .reviewContentsArea .reviewSliderArea{margin: 0 auto;}
    .reviewArea .reviewContentsArea .reviewSliderArea blockquote{padding: 0 30px;}
    .reviewArea .reviewContentsArea .reviewPagination{margin: 0 auto; margin-bottom: 60px;}

    .selfBeautyArea{margin-bottom: 140px;}
    .selfBeautyArea ul{width: 100%;}
    .selfBeautyArea ul li{width: 100%; max-width: 100%;}
    .selfBeautyArea ul li:not(:last-of-type){margin-bottom: 60px;}

    .instagramArea > div{width: 100%; margin-bottom: 40px;}
    .instagramArea > ul{float: none; width: calc(100% - 80px); margin: 0 auto;}
    .instagramArea > ul li{width: calc(50% - 2px);}
    .instagramArea > ul li:nth-last-of-type(3n){margin-bottom: 4px;}
    .instagramArea > ul li:nth-of-type(2n + 1){margin-right: 4px;}
    .instagramArea > div > div > div{padding-left: 40px;}
    
}
@media screen and (max-width: 800px){
    .mainTopBannerArea{background: url(../images/m/main/topBanner.png) no-repeat center center;}
}


@media screen and (max-width: 640px){
    .mainTopBannerArea > div{width: calc(100% - 12.5vw);}


    /* 공통 */
    .btn{max-width: 35.9375vw; height: 9.375vw; padding: 0 4.6875vw; font-size: 2.8125vw; line-height: 9.375vw;}
    .btn::after{font-size: 3.90625vw;}
    section h2{font-size: 6.875vw; margin-bottom: 3.59375vw;}
    section > p{font-size: 3.75vw;}

    /* 메인 슬라이더 */
    header .mainSliderArea .swiper-slide div{padding-bottom: 18.75vw;}
    header .mainSliderArea .swiper-slide div h2{font-size: 12.5vw; margin-bottom: 9.375vw;}
    header .mainSliderArea .swiper-slide div p{font-size: 3.7vw; padding-top: 5.4687vw;}

    header .mainSliderArea .mainSliderNavigationArea{bottom: 26.5vw;}

    /* 메인 컨텐츠 */
    .technologyArea{padding-top: 18.75vw;}
    .technologyArea h2{font-size: 6.875vw; margin-bottom: 1.5625vw;}
    .technologyArea > p{margin-bottom: 7.8125vw;}
    .technologyArea ol{margin-bottom: 21.875vw;}
    .technologyArea ol li:not(:last-of-type){margin-bottom: 18.75vw;}
    .technologyArea ol li div:nth-of-type(2){margin-bottom: 9.375vw;}
    .technologyArea ol li div:first-of-type h3{font-size: 4.6875vw; margin-bottom: 9.375vw;}
    .technologyArea ol li div:first-of-type h3 span{font-size: 3.4375vw; margin-bottom: 3.90625vw;}
    .technologyArea ol li div:first-of-type p{font-size: 3.4375vw; margin-bottom: 6.25vw;}
    .technologyArea ol li:nth-of-type(2) div:nth-of-type(2) img:nth-of-type(2){bottom: 0;}
    .technologyArea ol li:nth-of-type(3) div:nth-of-type(2) img:nth-of-type(2){right: 0; bottom: 0;}

    .videoArea{height: 51.5625vw;}

    .wiseChoiceArea{margin-bottom: 17.1875vw;}
    .wiseChoiceArea h2{margin-bottom: 3.59375vw;}
    .wiseChoiceArea > p{margin-bottom: 9.375vw;}
    .wiseChoiceArea ul li{width: calc(50% - 3.125vw);}
    .wiseChoiceArea ul li:nth-of-type(2n + 1){margin-right: 6.25vw; margin-bottom: 12.5vw;}
    .wiseChoiceArea ul li figure img{margin-bottom: 3.90625vw;}
    .wiseChoiceArea ul li figure figcaption{height: 28.125vw;}
    .wiseChoiceArea ul li figure figcaption h3{font-size: 3.4375vw; margin-bottom: 1.5625vw;}
    .wiseChoiceArea ul li figure figcaption p{font-size: 4.375vw;}
    .wiseChoiceArea ul li figure figcaption a::before{width: 3.28125vw; background-size: contain;}

    .reviewArea{height: 221.875vw; background-size: 100vw, 171.875vw; margin-bottom: 21.875vw; background-position: center top, center bottom -145.3125vw;}
    .reviewArea .reviewContentsArea p{font-size: 6vw; margin-top: 13.28125vw; margin-bottom: 7.8125vw;}
    .reviewArea .reviewContentsArea .reviewSliderArea blockquote br{display: none;}
    .reviewArea .reviewContentsArea .reviewSliderArea blockquote::before, .reviewArea .reviewContentsArea .reviewSliderArea blockquote::after{width: 5.625vw;}
    .reviewArea .reviewContentsArea .reviewPagination{margin-bottom: 9.375vw;}
    .reviewArea .reviewContentsArea .reviewPagination span{width: 2.34375vw; height: 2.34375vw;}

    .selfBeautyArea{margin-bottom: 21.875vw;}
    .selfBeautyArea h2{margin-bottom: 4.21875vw;}
    .selfBeautyArea > p{margin-bottom: 9.375vw;}
    .selfBeautyArea ul{margin-bottom: 10.9375vw;}
    .selfBeautyArea ul li span{margin-bottom: 1.5625vw;}
    .selfBeautyArea ul li h3{font-size: 3.75vw; margin-bottom: 4.6875vw;}
    .selfBeautyArea ul li p{font-size: 2.5vw; height: 9.375vw;}
    .selfBeautyArea ul li img{border-top-left-radius:7.8125vw ; border-bottom-right-radius: 7.8125vw;}

    .instagramArea > div > div > div{padding-left: 6.25vw; max-width: 81.25vw; height: 28.125vw;}
    .instagramArea > div > div > div h2{font-size: 4.6875vw; margin-bottom: 0;}
    .instagramArea > div > div > div p{font-size: 6.25vw;}
    

}







