/* 결제 진행 golbal */
.paymentProgressArea h2{font-size: 40px; margin-bottom: 40px;}
.paymentProgressArea ul{display: flex; justify-content: center; padding: 45px 0; background-color: #f7f7f7; margin-bottom: 55px;}
.paymentProgressArea ul li{text-align: center;}
.paymentProgressArea ul li:not(:last-of-type){margin-right: 12.5%;}
.paymentProgressArea ul li img{margin-bottom: 25px;}
.paymentProgressArea ul li p{font-size: 18px; font-weight: 600;}
.paymentProgressArea ul li.progressIcon{position: relative;}
.paymentProgressArea ul li.progressIcon::before{content: ''; display: inline-block; width: 36px; height: 100%; position: absolute; left: -95px; top: 0; background: url(../images/paymentProgress/progressIcon.png) no-repeat center center / contain;}
.paymentProgressArea ul li:not(:first-of-type).progressIcon p{color: black;}

/* 진행 상황 글씨 색상 */
.paymentProgressArea ul li:not(:first-of-type) p{color: #acacac; }


/* 주문 리스트 타이틀 */
.orderListTitleArea{}
.orderListTitleArea p{font-size: 20px; font-weight: 500; margin-bottom: 20px;}
.orderListTitleArea h2{font-size: 16px; font-weight: 500; padding: 18px; border-top: 1px solid #000000; border-bottom: 1px solid #cccccc;}
.orderListTitleArea ul{border-bottom: 1px solid #cccccc;}
.orderListTitleArea ul::after{content: ''; display: block; visibility: hidden; clear: both;}
.orderListTitleArea ul li{float: left; text-align: center; line-height: 50px; }
.orderListTitleArea ul li:nth-of-type(1){width: 4.5%;}
.orderListTitleArea ul li:nth-of-type(2){width: 35.5%;}
.orderListTitleArea ul li:nth-of-type(3){width: 7.5%;}
.orderListTitleArea ul li:nth-of-type(4){width: 26.5%;}
.orderListTitleArea ul li:nth-of-type(5){width: 14%;}
.orderListTitleArea ul li:nth-of-type(6){width: 8.3%; float: right;}
.orderListTitleArea ul li h3{font-size: 16PX; font-weight: 400; line-height: 50px;}

.orderInformationArea > ul{border-top: 1px solid black; border-bottom: 1px solid #cccccc;}



/* 주문 리스트 */
.shoppingBasketArea input[type='checkbox']{display: none;}
.shoppingBasketArea input[type='checkbox'] + label{display: inline-block; width: 15px; height: 15px; border: 1px solid #e5e5e5;}
.shoppingBasketArea input[type='checkbox']:checked + label{background: url(../images/paymentProgress/CKBtn.png) no-repeat center /cover;}


.orderListArea{}
.orderListArea fieldset > div{display: flex; flex-wrap: nowrap; padding: 15px 0; border-bottom: 1px solid #f2f2f2;}
.orderListArea fieldset > div > div{display: flex; flex-direction: column; justify-content: center; align-items: center;}
.orderListArea fieldset > div > div h4{font-size: 18px; font-weight: bold; margin-bottom: 8px;}
.orderListArea fieldset > div > div h5{font-size: 17px; font-weight: 500;}
.orderListArea fieldset > div > div p{font-size: 14px; color: rgba(0,0,0,0.5);}
.orderListArea fieldset > div > div:nth-of-type(1){width: 4.5%;}
.orderListArea fieldset > div > div:nth-of-type(2){width: 35.5%; display: flex; flex-direction: row; justify-content: flex-start; padding: 0 20px; box-sizing: border-box;}
.orderListArea fieldset > div > div:nth-of-type(2) img{width: 90px; height: 90px; margin-right: 20px;}
.orderListArea fieldset > div > div:nth-of-type(2) div{display: flex; flex-direction: column;}
.orderListArea fieldset > div > div:nth-of-type(3){width: 7.5%;}
.orderListArea fieldset > div > div:nth-of-type(3) > div{width: 100%; display: flex; margin-bottom: 5px;}
.orderListArea fieldset > div > div:nth-of-type(3) > div > *{height: 30px; flex-basis: 33.3%; display: flex; justify-content: center; align-items: center;}
.orderListArea fieldset > div > div:nth-of-type(3) > div > button{font-size: 25px; color: white; border: none; background-color: #cccccc;}
.orderListArea fieldset > div > div:nth-of-type(3) > div > span{font-size: 16px; color: #666666;}
.orderListArea fieldset > div > div:nth-of-type(3) > button{width: 100%; padding: 3px 0; border: 1px solid #d6d6d6; font-size:14px; font-weight: 300; color: #747474; background-color: white; display: flex; justify-content: center; align-items: center;}
.orderListArea fieldset > div > div:nth-of-type(4){width: 26.5%;}
.orderListArea fieldset > div > div:nth-of-type(5){width: 14%;}
.orderListArea fieldset > div > div:nth-of-type(6){width: 8.3%; margin-left: 3.7%;}
.orderListArea fieldset > div > div:nth-of-type(6) button{width: 100%; font-size: 16px; padding: 8px;}
.orderListArea fieldset > div > div:nth-of-type(6) button:nth-of-type(1){color: black; border: 1px solid #d6d6d6; background-color: white;}
.orderListArea fieldset > div > div:nth-of-type(6) button:nth-of-type(2){color: white; border: none; background-color: black;}

/* 장바구니 상품 가격 정보 */
.productPriceArea{display: flex; justify-content: space-between; padding: 15px; border-bottom: 1px solid #cccccc; margin-bottom: 20px;}
.productPriceArea > p{font-size: 13px; font-weight: 300; color: #979797; display: flex; align-items: center; }
.productPriceArea > p::before{content: ''; display: inline-block; width: 15px; height: 15px; margin-right: 10px; background: url(../images/paymentProgress/markIcon.png) no-repeat center center / cover; }
.productPriceArea > div{font-size: 13px; display: flex; align-items: center;}
.productPriceArea > div > span{margin:0 3px;}
.productPriceArea > div > p{font-size: 18px; font-weight: bold; color: #ba005f; margin-left: 20px;}


.productManagementArea{display: flex; justify-content: space-between; margin-bottom: 50px;}
.productManagementArea *{font-size: 13px;}
.productManagementArea button{ padding: 5px 7px; border: 1px solid #d6d6d6; background-color: white;}
.productManagementArea > div:first-of-type button{padding: 5px 26px; margin-left: 5px;}
.productManagementArea > div:not(:first-of-type){}



/* 상품 금액 */
.priceArea{display: flex; justify-content: space-around; text-align: center; border: 3px solid; padding: 52px 0; margin-bottom: 20px;}
.priceArea h3, .priceArea h2{font-size: 16px; font-weight: 500; margin-bottom: 15px;}
.priceArea p{font-size: 25px; font-weight: bold;}
.priceArea p span{font-weight: bold;}
.priceArea > div{position: relative;}
.priceArea > div::before{content: ''; display: block; width: 30px; height:100%; background-image: url(../images/paymentProgress/plusIcon.png); background-repeat: no-repeat; background-position: center center; position: absolute; left: -165px; top: 0;}
.priceArea > div:first-of-type::before{display: none;}
.priceArea > div:last-of-type::before{background-image: url(../images/paymentProgress/equalSignIcon.png);}
.priceArea > div:last-of-type p{color: #ba005f;}


/* 장바구니 최종 결정 btn */
.shoppingBasketFinalArea{display: flex; justify-content: space-between; margin-bottom: 50px;}
.shoppingBasketFinalArea a{align-self: flex-start; font-size: 13px; padding: 11px 13px; border: 1px solid #d6d6d6; }
.shoppingBasketFinalArea div input{width: 205px; height: 62px; font-size: 20px; font-weight: 100; border: none;}
.shoppingBasketFinalArea div input:nth-of-type(1){color: white; background-color: black;}
.shoppingBasketFinalArea div input:nth-of-type(2){color: black; background-color: #dadada;}


/* 이용안내 */
.informationUseArea{padding-top: 30px; border-top: 1px solid #e5e5e5;}
.informationUseArea h2{font-size: 16px; font-weight: 500;}
.informationUseArea *:not(h2){font-size: 14px; font-weight: 300; line-height: 1.714;}
.informationUseArea > h2{margin-bottom: 13px;}
.informationUseArea > ol:not(:last-of-type){margin-bottom: 30px;}
.informationUseArea > h3{font-weight: 500;}


@media screen and (max-width: 1280px){
    .paymentProgressArea ul li.progressIcon::before{left: -7.91666vw;}
    .priceArea > div::before{left: -13.75vw;}
}

@media screen and (max-width: 1100px){
    .orderListTitleArea ul{display: none;}
    .orderListArea fieldset > div{flex-wrap: wrap;}
    .orderListArea fieldset > div > div:nth-of-type(1){width: 55px;}
    .orderListArea fieldset > div > div:nth-of-type(2){width: calc(100% - 415px); padding: 0;}
    .orderListArea fieldset > div > div:nth-of-type(3){width: 90px; margin-right: 20px}
    .orderListArea fieldset > div > div:nth-of-type(3) > div{width: auto; }
    .orderListArea fieldset > div > div:nth-of-type(3) > button{width: 100%; height: 30px;}
    .orderListArea fieldset > div > div:nth-of-type(3) > div *{width: 30px; height: 30px; flex-basis: auto; border: 1px solid #ebebeb; box-sizing: border-box;} 
    .orderListArea fieldset > div > div:nth-of-type(4){display: none;}
    .orderListArea fieldset > div > div:nth-of-type(5){width: 150px; flex-direction: row; justify-content: space-between;}
    .orderListArea fieldset > div > div:nth-of-type(5)::before{content: '합계 : '; display: inline-block; font-size: 17px; font-weight: 400;}
    .orderListArea fieldset > div > div:nth-of-type(6){width: 80px; margin-left: 20px;}

    .productPriceArea{flex-direction: column; align-items: flex-end;}
    .productPriceArea > p{margin-bottom: 10px;}
}

@media screen and (max-width: 800px){
    .shoppingBasketArea,.orderFormArea{width: 100%;}
    /* .paymentProgressArea h2 */
    .orderListTitleArea p, .productManagementArea,.shoppingBasketFinalArea{width: calc(100% - 80px); margin-left: auto; margin-right: auto;}

    .orderListTitleArea p{font-size: 30px; line-height: 1; margin-bottom: 30px;}

    .shoppingBasketArea input[type='checkbox'] + label{width: 40px; height: 40px;}
    .shoppingBasketArea input[type='checkbox']:checked + label{background: url(../images/m/shoppingBasket/CKBtn.png) no-repeat center /cover;}


    /* 결제 금액 */
    .priceArea{padding: 40px 0 25px 0; border-left: none; border-right: none; margin-bottom: 120px;}
    .priceArea > div{width: calc(100% - 80px); margin: 0 auto;}
    .priceArea > div::before{display: none;}
    .priceArea{flex-direction: column;}
    .priceArea > div{display: flex; justify-content: space-between; align-items: center;}
    .priceArea h3, .priceArea h2{font-size: 22px; margin: 0;}
    .priceArea h3{color: #747474;}
    .priceArea > div:not(:last-of-type){margin-bottom: 25px;}
    .priceArea > div:not(:last-of-type) p{font-size: 26px; font-weight: bold;}
    .priceArea > div:last-of-type{padding-top: 35px; border-top: 1px solid #cccccc;}
    .priceArea > div:last-of-type p{font-size: 34px;}
    


    .orderListTitleArea h2{font-size: 22px; padding: 23px 40px;}
    .orderListArea fieldset > div{padding: 30px 0 50px;}
    .orderListArea fieldset > div > div:nth-of-type(1){width: 55px; margin-left: 40px; margin-right: 15px; align-self: flex-start;}
    .orderListArea fieldset > div > div:nth-of-type(2){width: calc(100% - 110px); align-items: flex-start; margin-bottom: 30px;}
    .orderListArea fieldset > div > div:nth-of-type(2) img{width: 125px; height: 125px; margin-right: 20px;}
    .orderListArea fieldset > div > div:nth-of-type(2) div *{font-size: 22px;}
    .orderListArea fieldset > div > div:nth-of-type(2) div h4{margin-top: 5px; margin-bottom: 15px;}
    .orderListArea fieldset > div > div:nth-of-type(3){width: 100%; flex-direction: row; justify-content: flex-start; margin-left: 95px; margin-bottom: 30px;}
    .orderListArea fieldset > div > div:nth-of-type(3) > div{margin-bottom: 0; margin-right: 10px;}
    .orderListArea fieldset > div > div:nth-of-type(3) > div *{width: 60px; height: 60px;}
    .orderListArea fieldset > div > div:nth-of-type(3) > button{width: 115px; height: 60px;}
    .orderListArea fieldset > div > div:nth-of-type(5){width: 100%; padding: 28px 40px; border-top: 1px solid #f2f2f2; margin-bottom: 7px;}
    .orderListArea fieldset > div > div:nth-of-type(5) h5{font-size: 34px;}
    .orderListArea fieldset > div > div:nth-of-type(5)::before{content: '합계'; font-size: 22px;}
    .orderListArea fieldset > div > div:nth-of-type(6){width: 100%; flex-direction: row; justify-content: flex-end; margin-right: 40px;}
    .orderListArea fieldset > div > div:nth-of-type(6) button{width: 115px; height: 60px;}
    .orderListArea fieldset > div > div:nth-of-type(6) button:not(:first-of-type){margin-left: 10px;}

    .productPriceArea{padding: 30px 40px 45px; margin-bottom: 30px;}
    .productPriceArea > p{font-size: 20px; margin-bottom: 45px; letter-spacing: -1px;}
    .productPriceArea > p::before{width: 22px; height: 22px; margin-right: 10px;}
    .productPriceArea > div{flex-wrap: wrap; justify-content: flex-end;}
    .productPriceArea > div {font-size: 20px;}
    .productPriceArea > div > p{font-size: 34px; width: 100%; text-align: right; margin-top: 15px;}
    .productPriceArea > div > p > span{font-weight: 500;}

    .productManagementArea{}
    .productManagementArea *{font-size: 22px; }
    .productManagementArea button{padding: 17px 10px; letter-spacing: -1.5px;}
    .productManagementArea > div:first-of-type button{padding: 17px 26px;}

    .shoppingBasketArea .priceArea{margin-bottom: 40px;}

    .shoppingBasketFinalArea{flex-direction: column; }
    .shoppingBasketFinalArea > a{order: 1; font-size: 22px; padding: 18px 30px; align-self: center;}
    .shoppingBasketFinalArea div{margin-bottom: 40px;}
    .shoppingBasketFinalArea div input{width: calc(50% - 5px); font-size: 30px; height: 100px;}

    /* 이용안내 */
    .informationUseArea{padding: 40px 40px 0;}
    .informationUseArea > h2{font-size: 30px; margin-bottom: 45px;}
    .informationUseArea *:not(h2){font-size: 20px; line-height: 1.5;}
    .informationUseArea > h3{margin-bottom: 40px;}

}

@media screen and (max-width: 640px){
    .priceArea > div,
    .paymentProgressArea h2,
    .orderListTitleArea p, .productManagementArea,.shoppingBasketFinalArea{width: calc(100% - 12.5vw);}
    
    .orderListTitleArea p{font-size:4.6875vw;  margin-bottom: 4.6875vw;}

    .shoppingBasketArea input[type='checkbox'] + label{width: 6.25vw; height: 6.25vw;}

    /* 결제 진행 golbal */
    .paymentProgressArea h2{font-size: 6.25vw; margin-bottom: 6.25vw;}
    .paymentProgressArea ul{padding: 7.03125vw 0; margin-bottom: 8.59375vw;}
    .paymentProgressArea ul li.progressIcon::before{width: 5.625vw;}
    .paymentProgressArea ul li img{width: 6.5625vw; height: 6.5625vw; margin-bottom: 3.90625vw;}
    .paymentProgressArea ul li p{font-size: 2.8125vw;}


    /* 결제 금액 */
    .priceArea{padding: 6.25vw 0 3.90625vw 0; border-left: none; border-right: none; margin-bottom: 18.75vw;}
    .priceArea > div{width: calc(100% - 12.5vw);}
    .priceArea h3, .priceArea h2{font-size: 3.4375vw; }
    .priceArea h3{color: #747474;}
    .priceArea > div:not(:last-of-type){margin-bottom: 3.90625vw;}
    .priceArea > div:not(:last-of-type) p{font-size: 4.0625vw;}
    .priceArea > div:last-of-type{padding-top: 5.46875vw;}
    .priceArea > div:last-of-type p{font-size: 5.3125vw;}

    /* 주문리스트 */
    .orderListTitleArea h2{font-size: 3.4375vw; padding: 3.59375vw 6.25vw;}
    .orderListArea fieldset > div{padding: 4.6875vw 0 7.8125vw;}
    .orderListArea fieldset > div > div:nth-of-type(1){width: 8.59375vw; margin-left: 6.25vw; margin-right: 2.34375vw;}
    .orderListArea fieldset > div > div:nth-of-type(2){width: calc(100% - 17.1875vw);  margin-bottom: 4.6875vw;}
    .orderListArea fieldset > div > div:nth-of-type(2) img{width: 19.53125vw; height: 19.53125vw; margin-right: 3.125vw;}
    .orderListArea fieldset > div > div:nth-of-type(2) div *{font-size: 3.4375vw;}
    .orderListArea fieldset > div > div:nth-of-type(2) div h4{margin-top: 0.78125vw; margin-bottom: 2.34375vw;}
    .orderListArea fieldset > div > div:nth-of-type(3){  margin-left: 14.84375vw; margin-bottom: 4.6875vw;}
    .orderListArea fieldset > div > div:nth-of-type(3) > div{ margin-right: 1.5625vw;}
    .orderListArea fieldset > div > div:nth-of-type(3) > div *{width: 9.375vw; height: 9.375vw;}
    .orderListArea fieldset > div > div:nth-of-type(3) > button{width: 17.96875vw; height: 9.375vw;}
    .orderListArea fieldset > div > div:nth-of-type(5){ padding: 4.375vw 6.25vw;  margin-bottom: 1.09375vw;}
    .orderListArea fieldset > div > div:nth-of-type(5) h5{font-size: 5.3125vw;}
    .orderListArea fieldset > div > div:nth-of-type(5)::before{content: '합계'; font-size: 3.4375vw;}
    .orderListArea fieldset > div > div:nth-of-type(6){  margin-right: 6.25vw;}
    .orderListArea fieldset > div > div:nth-of-type(6) button{width: 17.96875vw; height: 9.375vw;}
    .orderListArea fieldset > div > div:nth-of-type(6) button:not(:first-of-type){margin-left: 1.5625vw;}

    .productPriceArea{padding: 4.6875vw 6.25vw 7.03125vw; margin-bottom: 4.6875vw;}
    .productPriceArea > p{font-size: 3.125vw; margin-bottom: 7.03125vw; }
    .productPriceArea > p::before{width: 3.4375vw; height: 3.4375vw; margin-right: 1.40625vw;}
    .productPriceArea > div {font-size: 3.125vw;}
    .productPriceArea > div > p{font-size: 5.3125vw; margin-top: 2.34375vw;}

    .productManagementArea{}
    .productManagementArea *{font-size: 3.4375vw; }
    .productManagementArea button{padding: 2.65625vw 1.5625vw; }
    .productManagementArea > div:first-of-type button{padding: 2.65625vw 4.0625vw;}

    .shoppingBasketArea .priceArea{margin-bottom: 6.25vw;}

    .shoppingBasketFinalArea > a{font-size: 3.4375vw; padding: 2.8125vw 4.6875vw; }
    .shoppingBasketFinalArea div{margin-bottom: 6.25vw;}
    .shoppingBasketFinalArea div input{width: calc(50% - 0.78125vw); font-size: 4.6875vw; height: 15.625vw;}

    /* 이용안내 */
    .informationUseArea{padding: 6.25vw 6.25vw 0;}
    .informationUseArea > h2{font-size: 4.6875vw; margin-bottom: 7.03125vw;}
    .informationUseArea *:not(h2){font-size: 3.125vw;}
    .informationUseArea > h3{margin-bottom: 6.25vw;}
}

